{% extends 'base.html' %}
{% block title %}تغییر رمز عبور{% endblock %}
{% block user %}{{ request.user.username }}{% endblock %}

{% block content %}
    <div dir="auto">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" class="form-control" style="background-color: #F2D56D;" action="/account/change_password/">
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">تغییر بده</button>
                        <a href="/account/profile/"><button class="btn btn-secondary">برگشت</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}