{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block user %}
    {{ request.user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-center"><b><big>{{ title }}</big></b></h2><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method="get">
                    <label for="search"><b>جستجو:</b></label>
                    <input type="text" name="title" id="search" placeholder="جستجو بر اساس عنوان {{title }}">
                    <label for="amount"><b>مبلغ:</b></label>
                    <input type="number" name="amount" id="amount" placeholder="قیمت کمتر از 10 -10بیشتر 10">
                    <button class="btn btn-success" type="submit">جستجو</button>
                </form>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <table class="table table-warning table-striped-columns" border="5">
                    <thead>
                        <tr>
                            <th>
                                {% with current_sort_id=request.GET.sort_id %}
                                    {% if current_sort_id == "id" %}
                                        <a href="{% querystring sort_id='-id' %}">ID˅</a>
                                    {% elif current_sort == "-id" %}
                                        <a href="{% querystring sort_id='id' %}">ID˄</a>
                                    {% else %}
                                        <a href="{% querystring sort_id='id' %}">ID˄</a>
                                    {% endif %}
                                {% endwith %}
                            </th>
                            <th>عنوان</th>
                            <th>مبلغ (تومان)</th>
                            <th>
                                {% with current_sort_date=request.GET.sort_date %}
                                    {% if current_sort_date == "date" %}
                                        <a href="/account/expense/?title={{ request.GET.title }}&sort_date=-date">تاریخ˅</a>
                                    {% elif current_sort_date == '-date' %}
                                        <a href="/account/expense/?title={{ request.GET.title }}&sort_date=date">تاریخ˄</a>
                                    {% else %}
                                        <a href="/account/expense/?title={{ request.GET.title }}&sort_date=date">تاریخ˄</a>
                                    {% endif %}
                                {% endwith %}
                            </th>
                            <th>زمان</th>
                            <th>توضیحات</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.date }}</td>
                                <td>{{ item.time }}</td>
                                <td>{{ item.text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}