{% extends 'base.html' %}
{% block title %}{{ title_fa }} ها{% endblock %}

{% block user %}
    {{ request.user.username }}
{% endblock %}

{% block content %}
    <h2 class="text-center"><b><big>{{ title_fa }} ها</big></b></h2><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <form method="get">
                    <label for="search"><b>جستجو:</b></label>
                    <input type="text" name="title" id="search" placeholder="جستجو بر اساس عنوان {{title_fa }}">
                    <label for="amount"><b>مبلغ:</b></label>
                    <input type="number" name="amount" id="amount" placeholder="قیمت کمتر از 10 -10بیشتر 10">
                    <button class="btn btn-success" type="submit">جستجو</button>
                </form>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <table class="table table-warning table-striped-columns" border="5">
                    <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>مبلغ (تومان)</th>
                            <th>تاریخ(میلادی)</th>
                            <th>تاریخ(شمسی)</th>
                            <th>زمان</th>
                            <th>آخرین تغییر</th>
                            <th>توضیحات</th>
                            <th>تغییر</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.title }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.date }}</td>
                                <th>{{ item.jdate }}</th>
                                <td>{{ item.time }}</td>
                                <td>{{ item.updated_time }}</td>
                                <td>{{ item.text }}</td>
                                <td><a href="/account/update_{{ title_en }}/{{ item.id }}/"><button class="btn btn-warning">ادیت</button></a></td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    حذف
                                    </button>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header" style="background-color: #F2D56D;border-color: black;">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><big><b>حذف {{title_fa }}</b></big></h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body"style="background-color: #FAE9AA;">
                                                <p><b><big>آیا مطمعنی میخوای حذفش کنی؟دیگه برنمیگرده ها!!!</big></b></p>
                                            </div>
                                                <div class="modal-footer" style="background-color: #FAE9AA; border-color: black;" >
                                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">بستن</button>
                                                    <form method="" action="/account/{{ url_delete }}/{{ item.id }}/">
                                                        <button type="submit" class="btn btn-danger">حذف</button></a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}