{% extends 'base.html' %}
{% block title %}اضافه کردن {{ title }}{% endblock %}

{% block content %}
    <div dir="auto">
        <h2>اضافه کردن {{title}}</h2>
        <p>در این صفحه میتونی {{title}} هایی که داشتی رو اضافه کنی تا در قسمت {{title}} هات بتونی ببینیشون</p>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" class="form-control">
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}