{% extends 'base2.html' %}
{% block title %}Login-page{% endblock %}

{% block content %}
    <div dir="auto">
        <h2><p><big>حسابدار</big></p></h2>
        <p><b>به برنامه حسابدار خوش آمدید جایی که میتونی دخل و خرج خودت رو یادداشت کنی.</b></p>
        <p><b><big>اگه حسابی نداری یکی بساز </big></b><a href="/account/register/"><button type="button" class="btn btn-success">ثبت نام</button></a>
</p>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" class="form-control" style="background-color: #F2D56D;">
                        <h3 class="text-center">ورود</h3>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">ورود</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}