{% extends 'base.html' %}
{% block title %}Login-page{% endblock %}

{% block content %}
    <div dir="auto">
        <h2>حسابدار</h2>
        <p>به برنامه حسابدار خوش آمدید جایی که میتونی دخل و خرج خودت رو یادداشت کنی</p>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" class="form-control">
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}