{% extends 'base.html' %}
{% block title %}پروفایل{% endblock %}
{% block user %}{{ request.user.username }}{% endblock %}
{% block content %}
    <div dir="auto">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" class="form-control" style="background-color: #F2D56D;" action="/account/profile/">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success" type="submit">تغییر بده</button>
                    </form>
                </div>
                <div class="col">
                    <form action="/account/request_change_password/" method="post">
                        {% csrf_token %}
                        <p>برای تغییر رمز عبور خود <button type="submit">کلیک</button>کنید </p>
                    </form>
                    <br>
                    <label for="delete_account">حذف حساب:</label>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    حذف
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color: #FAE9AA;">
                                <div class="modal-header" style="background-color: #F2D56D; border-color: black;">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">حذف کردن حساب کاربری</h1>
                                </div>
                                <div class="modal-body">
                                    <p>آیا مطعنی میخوای حساب کاربریت رو حذف کنی؟؟راه برگشتی نیستا!</p>
                                </div>
                                <div class="modal-footer" dir="ltr" style="border-color: black;">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                    <form action="/account/delete_account/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">حذف</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}