{% extends 'base.html' %}
{% block title %}آمار خرج و درآمد{% endblock %}
{% block user %}{{ request.user.username }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-6 col-12">
                {% load static %}
                <img src="{% static 'web/img/chart.png' %}" alt="chart" class="img-fluid">
            </div>
            <div class="col-lg-6 col-12">
                <h3 class="text-center">آمار ماهانه(تومان)</h3>
                <table class="table table-bordered table-warning table-stripted-columns"> 
                    <thead>
                        <tr>
                            <th>کل درآمد</th>
                            <th>کل خرج</th>
                            <th>تراز کل</th>
                            <th>میانگین درآمد روزانه(تا امروز)</th>
                            <th>میانگین خرج روزانه(تا امروز)</th>
                            <th>بیشترین درآمد</th>
                            <th>بیشترین خرج</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ total_incomes }}</td>
                            <td>{{ total_expense }}</td>
                            <td>{{ balance }}</td>
                            <td>{{ ave_daily_income }}</td>
                            <td>{{ ave_daily_expense }}</td>
                            <td>{{ max_income }}</td>
                            <td>{{ max_expense }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  

    </div>
{% endblock %}